/* nav{
    background-color: aqua;
}

article{
    background-color: palevioletred;
}

footer{
    background-color: plum;
} */

.box{
    width: 200px;
    height: 200px;
    text-align: center;
    background: url("https://www.almanac.com/sites/default/files/styles/landscape/public/image_nodes/winter_sunrise-2.jpg?itok=81VQoJGG");
}

h1{
    color: black;
}