
body{
    background-color: lightgray;
}


.kutija1{
    width: 250px;
    height: 250px;
    background-color: white;
    display: inline-block;
    border-radius: 8px;

}




.teksti1{
    color: lightgray;
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
    padding-top: -10px;
}

.vija{
    width: 250px;
    height: 2px;
background-color: grey;
margin-top: 40px;

}

.foto1{
    height:80px;
    width: 80px;
    padding-top: -50px;
    padding-left: 10px;
    border-radius: 200px;

}
.t2{
    color: lightgray;
    text-align: left;
    padding-left: 10px;

}

H3{
    padding-left: 10px;
    padding-bottom: 30px;
}