header{
    background-color: navy;
    color: white;
    width: 100%;
    height: 70px;
    padding-top: 14px;
    
    
}

.e1{
    display: inline-block;
}

.dyta{
    margin-left: 80px;
}

.para{
    margin-left: 100px;
}

.njo{
    margin-left: 400px;
}

